createdAt: "2018-11-18T08:50:40.614Z"
updatedAt: "2018-11-18T08:50:50.596Z"
type: "MARKDOWN_NOTE"
folder: "bbdd057d318a6fffd40b"
title: "交流发电机"
content: "# 交流发电机"
tags: []
isStarred: false
isTrashed: false
